@use "sass:math";

// grid


.l-row {
    display: flex;
    flex-wrap: wrap;
    // align-items: center;
    // :not(:first-child) {
    //     @media #{$mq-sm} {
    //         margin-left: 25px;
    //     }
    // }
    @media #{$mq-sm} {
        flex-direction: row;
    }
    margin-left: -15px;
    // gap: 0px 20px;
    
}

[class*="l-span"] {
    // margin: 0 auto;
    margin-bottom: 0.3em;
    
    @media #{$mq-sm} {
        // padding-right: 15px;
        // padding-left: 15px;
        box-sizing: border-box;
    }
    padding-left: 15px; 
}

@media #{$mq-sm} {
    @for $i from 1 through 12 {
        .l-span#{$i} {
            flex: $i 1 #{math.div($i , 12) * 100%};
            max-width: #{math.div($i , 12) * 100%};
        }
    }
}
@media (max-width: 575px) {
    @for $i from 1 through 12 {
        .l-span#{$i} {
            flex: 1 1 auto;
        }
    }
}